@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Press+Start+2P&family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App{
    width: 1000px;
    height: 700px;
    border-radius: 5px;
    border: 1px solid rgb(236, 234, 234);;
    margin: auto;
    margin-top: 20px;
}



/***** MENU BAR *****/
.menuBar{
    background-color: rgb(219, 215, 215);
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5x;
    border-top-right-radius: 5px;
    position: relative;
}

.menuButton{
    border: none;
    outline: none;
    background-color: rgb(241, 235, 235);
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin: 0px 10px;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.menuButton:hover{
    color: black;
    font-weight: bold;
}

.search{
    padding: 2px 3px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(241, 241, 241, 0.25) 0px 30px 60px -12px inset, rgba(114, 113, 113, 0.3) 0px 18px 36px -18px inset;
}

/***** NOTE CONTAINER *****/

.notes-container{
    display: flex;
    height: calc(100% - 38px);
    width: 100%;
    border-radius: 5px;
}

/***** FOLDERS *****/
.folderList{
    width: 300px;
    height: 100%;
    background-color: rgb(223, 219, 219);
    position: relative;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.folder{
    cursor: pointer;
    height: 60px;
    padding: 15px;
}

.addNewFolder{
    background-color: rgb(223, 219, 219);
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
}

.addNewFolder i{
    font-size: 20px;
}

.selected{
    background-color: blanchedalmond;
}

.hideFolderSidebar{
    display: none;
}

/***** NOTE LIST *****/
.notes-list{
    width: 300px;
    border: 1px solid rgb(236, 234, 234);
    overflow-y: auto;
}

.note-item{
    cursor: pointer;
    border-bottom: 1px solid rgb(236, 234, 234);
    height: 60px;
    padding: 6px;
}

.note-title{
    font-weight: bold;
    pointer-events: none;
}

.note-preview{
    color: gray;
    font-size: 15px;
}

.note-snippet{
    pointer-events: none;
}

.selected-note{
    background-color: rgb(253, 246, 236);
}

/***** NOTE *****/
.note-detail{
    height: 100%;
    width: 100%;
    padding: 15px;
}

.note-detail textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}


/***** Context Menu *****/
.context-menu{
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    top:0;
    left:0;
    font-size: 15px;
    background-color: rgb(241, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}